@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

* {
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
}